#header{
	color: #00FFD8;
	text-align: center;
}

#header a{
	color: #00FFD8;
	text-decoration: none;
}

#header .desc{
	font-size: 80%;
}

#header .links a{
	color: #ffffff;
	font-size: 80%;

	text-align: left;

	padding-left: 7px;
	padding-right: 7px;
}

footer {
	width: 650px;
	color: #D3D3D3;

	font-size: 70%;
	text-align: center;
}

footer a{
	color: #D3D3D3;
}

body{
	margin: auto;
	max-width: 650px;
	color: #ffffff;
	background-color: #101010;
}

#links{
	font-family: monospace;
}

#links a{
	color: grey;
}

pre{
	white-space: pre-wrap;
}

pre a{
	color: grey;
}

hr{
	margin: -14px;
}
