#header{
	color: #00FFD8;
	text-align: center;
	
	padding-left: 14px;
	padding-right: 14px;
}

#header a{
	color: #00FFD8;
	text-decoration: none;
}

#header .desc{
	font-size: 80%;
}

#header .links a{
	color: #ffffff;
	font-size: 80%;

	text-align: left;

	padding-left: 7px;
	padding-right: 7px;
}

footer {
	width: 650px;
	color: #D3D3D3;

	font-size: 70%;
	text-align: center;
	
	/*bottom: 0;
	position: absolute;*/
}

footer a{
	color: #D3D3D3;
}

body{
	margin: auto;
	max-width: 650px;
	width: 100vw;
	color: #ffffff;
	background-color: #101010;
}

#content{
	background-color: #101010;
	height: 100vh;
	max-width: 650px;
	margin: auto;
	
	padding-top: 1px;
}

#links{
	font-family: monospace;
	
	padding-left: 30px;
	padding-right: 30px;
}

#links a{
	color: grey;
}

#links a:hover{
	background-color: white;
	color: black;
}

pre{
	white-space: pre-wrap;
	font-family: monospace;
}

pre a{
	color: grey;
}

hr{
	margin: -14px;
}

img{
	max-width: 650px;
}
